<div id="questions-area">
</div>

<script type='text/x-handlebars-template' id='question-template'>
		{{#each question}}
			<h2>Title: {{title}} </h2>
			<h5>Content: {{content}} </h5>
			<h5>Id: {{id}} </h5>
			<h5>Votes: {{votes}} </h5>
		{{/each}}
</script>

