<!DOCTYPE html>
<html>
<head>
  <title>HandlebarsExample</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
	
	<!-- We need to include handlebars in our header -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/3.0.3/handlebars.js'></script>
</head>
<body>

<%= yield %>

</body>
</html>
